body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}
nav{
    border-bottom: 1px solid gray;
    box-shadow:  0px 0px 20px 0px grey
}
main{
   min-height: 50vh;
}
footer{
    border-top: 1px solid gray;
    box-shadow:  0px 0px 20px 0px grey;
    font-size: 12px;
}

button{
    max-height: 38px;
}

/** SLIDER **/
.slide_show{
    width: max-content;
    display: block;
    position: relative;
    min-height: 150px;  
}

.Slider_wrapper{
    position: absolute;
    display: none;
}
.slider_img_wrapper{
    position: relative;
    display: block;
}
.absolute{
position: absolute;
bottom: 0;
left: 0;
}
.info_slider{
width: 100%;
background: rgba(0,0,0,0.7);
color: #fff;

    span{
        display: block;   
         line-height: 16px;
        font-size: 10px;
        text-align: center;

    }
}
.currentSlide{
    display: flex;
}
.slide_nav {
    
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 150px;
    display: none;
    justify-content: space-between;
    span{

        &:hover{
            cursor: pointer;
        }
    }
}


#loaderDiv{
    display: none;
    position: absolute;
    background: #fff;
    width: 200px;
    height: 200px;
z-index: 1000;
    span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
}

/************************* Second Page  ********************/


.side_content_wrapper{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}



.side_content_wrapper input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.side_content_wrapper span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323 !important;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.side_content_wrapper span:first-child
{
  transform-origin: 0% 0%;
}

.side_content_wrapper span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


.side_content_wrapper input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-20px, -20px);
  background: #fff!important;
}


.side_content_wrapper input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


.side_content_wrapper input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(20px, -18px);
}

.main_content{
    position: absolute;
    top: -50px;
    left: -120%;
    background: #232323;
    height: 60vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

#animated_menu{
display: flex;
flex-direction: column;
    li{
        color: #fff;
        padding: 20px;
        border: 2px solid #fff;
        width: 300px;
        text-align: center;
        list-style: none;
        margin: 0 0 10px 0;
        transform: translateX( 120%);
        transition: transform 0.6s ease;
    }
}
